{% extends app.request.xmlHttpRequest
? "AMagedBackendBundle:Layouts/:ajaxLayout.html.twig"
: "AMagedBackendBundle:Layouts/:base.html.twig" %}

{% form_theme form with ['AMagedCrawlerBundle:Form:fields.html.twig','ThraceFormBundle:Form:fields.html.twig'] %}

{% block main %}
    <div style="margin: 20px auto">
        {{ form(form) }}

    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    'bundles/amagedcommonlayout/js/jquery.min.js'
    'bundles/amagedcommonlayout/plugins/jquery-ui/jquery-ui.js'
    'bundles/thraceform/js/collection.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("select").select2();
            $(".help").popover({
                trigger: 'hover'
            });
            $(".refreshes_s2").click(function(){
                setTimeout(function(){
                    $("select").select2();
                },300);
            });
            var emailCount = '{{ form.props|length }}';
            $('.add-another-simple-prop').click(function() {
                var emailList = $('#crawler_page_template_props_simple_props');

                var newWidget = emailList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, emailCount);
                emailCount++;

                // create a new list element and add it to the list
                var newLi = $('<li></li>').html(newWidget);
                console.log(newLi);
                newLi.appendTo($('#props'));
                $("select").select2();
                return false;
            });
            $('.add-another-reference-many-prop').click(function() {
                var emailList = $('#crawler_page_template_props_reference_many_props');

                var newWidget = emailList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, emailCount);
                emailCount++;

                // create a new list element and add it to the list
                var newLi = $('<li></li>').html(newWidget);
                console.log(newLi);
                newLi.appendTo($('#props'));
                $("select").select2();
                return false;
            });
        });
    </script>
{% endblock %}